doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./style/btn.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap" rel="stylesheet")
    
        title HW #13
    body 
        h2 Big buttons
        .container
            .space_for_btns
                a(href="https://rocco.at.ua/load/0-0-0-31-20").btn.btn-download.btn-download--big.btn-download--primary Download
                a(href="https://rocco.at.ua/load/0-0-0-31-20").btn.btn-download.btn-download--big.btn-download--primary Download 
                    span.icon.ml-1
                        svg.white(width="24" height="24" viewBox="0 0 24 24" fill="none")
                            path(d="M4 12V19H20V12" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(d="M12 3.50073L12 13.5007" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(d="M12 13.5007L15.375 10.1257" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(d="M12 13.5007L8.625 10.1257" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

                a(href="https://rocco.at.ua/load/0-0-0-31-20").btn.btn-download.btn-download--big.btn-download--primary
                    span.icon.mr-1
                        svg.white(width="24" height="24" viewBox="0 0 24 24" fill="none")
                            path(d="M4 12V19H20V12" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(d="M12 3.50073L12 13.5007" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(d="M12 13.5007L15.375 10.1257" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(d="M12 13.5007L8.625 10.1257" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                    span Download 


            
            .space_for_btns
                a(href="https://rocco.at.ua/load/0-0-0-31-20").btn.btn-download.btn-download--big.btn-download--gray Download
                a(href="https://rocco.at.ua/load/0-0-0-31-20").btn.btn-download.btn-download--big.btn-download--gray Download 
                    span.icon.ml-1
                        svg.gray(width="24" height="24" viewBox="0 0 24 24" fill="none")
                            path(d="M4 12V19H20V12" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(d="M12 3.50073L12 13.5007" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(d="M12 13.5007L15.375 10.1257" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(d="M12 13.5007L8.625 10.1257" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                        

                a(href="https://rocco.at.ua/load/0-0-0-31-20").btn.btn-download.btn-download--big.btn-download--gray
                    span.icon.mr-1
                        svg.gray(width="24" height="24" fill="none")
                            path(d="M4 12V19H20V12" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(d="M12 3.50073L12 13.5007" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(d="M12 13.5007L15.375 10.1257" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(d="M12 13.5007L8.625 10.1257" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                    span Download 
                    



            .space_for_btns
                a(href="https://rocco.at.ua/load/0-0-0-31-20").btn.btn-download.btn-download--big.btn-download--white Download
                a(href="https://rocco.at.ua/load/0-0-0-31-20").btn.btn-download.btn-download--big.btn-download--white Download 
                    span.icon.ml-1
                        svg.black(width="24" height="24" fill="none")
                            path(d="M4 12V19H20V12" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(d="M12 3.50073L12 13.5007" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(d="M12 13.5007L15.375 10.1257" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(d="M12 13.5007L8.625 10.1257" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

                a(href="https://rocco.at.ua/load/0-0-0-31-20").btn.btn-download.btn-download--big.btn-download--white
                    span.icon.mr-1
                        svg.black(width="24" height="24" fill="none")
                            path(d="M4 12V19H20V12" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(d="M12 3.50073L12 13.5007" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(d="M12 13.5007L15.375 10.1257" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(d="M12 13.5007L8.625 10.1257" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                    span Download 
                    
        h2 Small buttons
        .container 
            .space_for_btns
                a(href="https://rocco.at.ua/load/0-0-0-31-20").btn.btn-download.btn-download--small.btn-download--primary Download
                a(href="https://rocco.at.ua/load/0-0-0-31-20").btn.btn-download.btn-download--small.btn-download--primary Download 
                    span.icon.ml-2
                        svg.white(width="20" height="20" fill="none")
                            path(d="M4 12V19H20V12" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(d="M12 3.50073L12 13.5007" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(d="M12 13.5007L15.375 10.1257" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(d="M12 13.5007L8.625 10.1257" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

                a(href="https://rocco.at.ua/load/0-0-0-31-20").btn.btn-download.btn-download--small.btn-download--primary
                    span.icon.mr-2
                        svg.white(width="20" height="20" fill="none")
                            path(d="M4 12V19H20V12" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(d="M12 3.50073L12 13.5007" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(d="M12 13.5007L15.375 10.1257" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(d="M12 13.5007L8.625 10.1257" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                    span Download 


            
            .space_for_btns
                a(href="https://rocco.at.ua/load/0-0-0-31-20").btn.btn-download.btn-download--gray Download
                a(href="https://rocco.at.ua/load/0-0-0-31-20").btn.btn-download.btn-download--gray Download 
                    span.icon.ml-2
                        svg.gray(width="20" height="20" fill="none")
                            path(d="M4 12V19H20V12" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(d="M12 3.50073L12 13.5007" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(d="M12 13.5007L15.375 10.1257" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(d="M12 13.5007L8.625 10.1257" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                        

                a(href="https://rocco.at.ua/load/0-0-0-31-20").btn.btn-download.btn-download--gray
                    span.icon.mr-2
                        svg.gray(width="20" height="20" fill="none")
                            path(d="M4 12V19H20V12" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(d="M12 3.50073L12 13.5007" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(d="M12 13.5007L15.375 10.1257" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(d="M12 13.5007L8.625 10.1257" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                    span Download 
                    



            .space_for_btns
                a(href="https://rocco.at.ua/load/0-0-0-31-20").btn.btn-download.btn-download--white Download
                a(href="https://rocco.at.ua/load/0-0-0-31-20").btn.btn-download.btn-download--white Download 
                    span.icon.ml-2
                        svg.black(width="20" height="20" fill="none")
                            path(d="M4 12V19H20V12" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(d="M12 3.50073L12 13.5007" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(d="M12 13.5007L15.375 10.1257" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(d="M12 13.5007L8.625 10.1257" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

                a(href="https://rocco.at.ua/load/0-0-0-31-20").btn.btn-download.btn-download--white
                    span.icon.mr-2
                        svg.black(width="20" height="20" fill="none")
                            path(d="M4 12V19H20V12" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(d="M12 3.50073L12 13.5007" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(d="M12 13.5007L15.375 10.1257" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(d="M12 13.5007L8.625 10.1257" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                    span Download 

            




 

        
